{% extends 'base.html.twig'  %}

{% block title %}
Mot de passe oublié ?
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1 class="h2 mb-3 font-weight-normal">Mot de passe oublié ?</h1>
        </div>
    </div>


    {% for message in app.flashes('error')%}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-danger">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}

    {% for message in app.flashes('success')%}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-success">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{form(form)}}
        </div>
    </div>

</div>


{% endblock %}