
{% block body %}
<h3>Bonjour {{username}}</h3>
</br>
<p>
    Cet e-mail provient du site communautaire Snowtricks </br></br>
    Vous avez demandé à réinitialiser votre mot de passe.</br>
    Pour ce faire, cliquez sur ce <a href="{{ url('reset_password',{value:token}) }}">lien</a></br></br></br>
    Cordialement - Votre administrateur
</p>
{% endblock %}